.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    
    border: 1px solid black;
    padding: 20px;
}

.form input {
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
    padding: 5px;
}

.form Button {
    width: 120px;
    margin-top: 20px;
    background-color: rgb(218, 215, 215);
    border: 1px solid black;
    border-radius: 4px;
}

.form button:focus, .form button:hover {
    background-color: rgb(173, 206, 255);
}