.item {
    display: flex;
    align-items: center;
}

.btn {

    width: 60px;
    margin-left: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.btn:focus,
.btn:hover {
    background-color: rgb(173, 206, 255);
}